/* ----------------------- */
/* header
/* ----------------------- */
.ttl_txt{
  font-size: 2.1rem;
  font-weight: 100;
  letter-spacing: .18em;
}
/* --------ここまで-------- */

/* ----------------------- */
/* mv
/* ----------------------- */
.bl_mv_inner{
  height: 600px;
}
.bl_mv_img{
  max-width: 590px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: fadeIn1 4s ease-out 0s 1 normal forwards;
}
@keyframes fadeIn1{
  0% {opacity: 0}
  100% {opacity: 1}
}
/* --------ここまで-------- */

/* ----------------------- */
/* works
/* ----------------------- */
.bl_works{
  max-width: 760px;
  margin: 0 auto;
  padding: 100px 0 150px 0;
}
.bl_ttl{
  justify-content: center;
  margin-bottom: 30px;
}
.bl_ttl_txt{
  text-align: center;
  font-size: 2.3rem;
  color: #857175;
}
.bl_ttl_border{
  font-size: 1.6rem;
  text-align: center;
  margin-top: 10px;
  color: #857175;
  font-weight: normal;
}
.bl_cardUnit_works{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.bl_card_works{
  max-width: 360px;
  margin-bottom: 60px;
  transition: .3s;
}
.bl_card_works_txt{
  font-weight: bold;
}
.bl_card_works_img{
  margin-bottom: 6px;
}
.bl_card_works_img:hover{
border-radius: 10px;
color: white;
transition: .5s;
transform: scale(1.03,1.03);
opacity: 0.7;
color: white;
}
.bl_card_works_txt{
  margin-top: 7px;
}
.bl_card_works_subtxt{
  font-size: 1.2rem;
  columns: #777777;
}
.el_btn_view{
  width: 202px;
  height: 59px;
  margin: 0 auto;
}
.btn_profile{
  width: 240px;
}
/* --------ここまで-------- */

/* ----------------------- */
/* about
/* ----------------------- */
.bl_about{
  max-width: 860px;
  margin: 0 auto;
  padding-bottom: 150px;
}
.bl_about_profile{
  display: flex;
  margin-bottom: 80px;
  align-items: center;
}
.bl_about_txt{
  max-width: 580px;
  margin-right: 25px;
}
.bl_about_img{
  width: 250px;
  height: 250px;
}
.bl_cardUnit_aboutList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-bottom: 20px;
}
.bl_card_about_img{
  max-width: 170px;
  max-height: 170px;
  margin-right: 35px;
  margin-bottom: 45px;
}
.bl_card_about_img:nth-child(4n){
  margin-right: 0;
}
/* --------ここまで-------- */


/* ----------------------- */
/* responsive タブレットサイズ
※インスタ写真のレスポンシブのためにここだけ784px設定
/* ----------------------- */
@media screen and (max-width:784px){
/* works */
.bl_cardUnit_works{
  margin: 0 10px;
  justify-content: space-around;
}
/* about */
.bl_about_profile{
  width: 100%;
  display: inline-block;
  justify-content: space-around;
  margin: 0 auto;
  justify-content: center; 
}
.bl_about_txt{
  width: 75%;
  margin: 0 auto;
}
.bl_about_img{
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 60px;
}
.bl_card_about_img:nth-child(4n){
  margin-right: 35px;
}
.bl_card_about_img:nth-child(3n){
  margin-right: 0;
}
}
/* --------ここまで-------- */


/* ----------------------- */
/* responsive スマホサイズ
/* ----------------------- */
@media screen and (max-width: 480px){
.ttl_txt{
  font-size: 1.6rem;
  margin-left: 10px;
}
.bl_ttl_txt{
  font-size: 1.8rem;
}
.bl_ttl_border{
  font-size: 1.4rem;
  margin-top: 5px;
}
/* works */
.bl_card_works{
  max-width: 280px;
  margin-bottom: 40px;
}
.el_btn_view{
  width: 160px;
}
/* about */
.bl_about{
  padding-bottom: 80px;
}
.bl_about_txt{
  width: 80%;
  margin: 0 auto;
}
.btn_profile{
  width: 190px;
}
.bl_card_about_img{
  max-width: 140px;
  max-height: 140px;
  margin-right: 25px;
  margin-bottom: 35px;
}
.bl_card_about_img:nth-child(3n){
  margin-right: 25px;
}
.bl_card_about_img:nth-child(4n){
  margin-right: 0;
}
.bl_card_about_img:nth-child(2n){
  margin-right: 0;
}
}
@media screen and (min-width: 470px)and (max-width: 580px){

  .bl_card_about_img:nth-child(2n){
    margin-right: 25px;
  }
  .bl_card_about_img:nth-child(3n){
  margin-right: 35px;
  }
}
@media screen and (max-width: 305px){
.bl_card_about_img:nth-child(2n){
  margin-right: 0;
  }
.bl_card_about_img{
  max-width: 100px;
  max-height: 100px;
  }
}