/* ----------------------- */
/* mv
/* ----------------------- */
.bl_mv_inner{
  height: 670px;
}
.bl_mv_img{
  max-width: 650px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: fadeIn1 4s ease-out 0s 1 normal forwards;
}
@keyframes fadeIn1{
  0% {opacity: 0}
  100% {opacity: 1}
}
.bl_main_ttl{
  margin-left: 100px;
  padding-top: 570px;
}
/* --------ここまで-------- */

/* ----------------------- */
/* overview
/* ----------------------- */
.bl_works{
  max-width: 760px;
  margin: 0 auto;
}
.bl_ttl{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 60px;
  color: #857175;
}
.bl_ttl_en{
  font-size: 1.2rem;
  color: #857175;
}
.bl_ttl::before{
  content: "";
  display: inline-block;
  height: 20px;
  width: 6px;
  background-color:#857175;
  vertical-align: -3px;
}
.bl_txt{
  margin-bottom: 20px;
}
.works-info-list{
  padding: 24px;
  background-color: #ffffff;
  border: 2px solid #A88F98;
}
/* --------ここまで-------- */

/* ----------------------- */
/* process
/* ----------------------- */
.bl_subttl{
  margin-top: 90px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #857175;
}
.bl_border{
  width: 100%;
  border: 1px solid #A88F98;
  margin-top: 6px;
  margin-bottom: 40px;
}
.bl_subttl_small{
  font-size: 1.6rem;
  font-weight: bold;
  margin: 40px 0;
  color: #857175;
}

/* competitor */
.bl_competitor_img{
  margin-bottom: 40px;
}
.bl_design_img.maindmap{
  margin-bottom: 40px;
}
/* --------ここまで-------- */

/* idea */
.bl_idea_img{
  margin-bottom: 40px;
}
.keywords{
  max-width: 760px;
}
.bl_competitor_txt{
  margin-bottom: 40px;
}
/* --------ここまで-------- */

/* concept */
.subttl_small_concept{
  margin-bottom: 20px;
}
.concept{
  max-width: 760px;
  margin-bottom: 10px;
}
/* --------ここまで-------- */

/* design */
.bl_design_img{
  max-width: 650px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.bl_font{
  display: block;
  font-size: 2rem;
  margin-left: 20px;
}
.bl_font01{
  display: flex;
  margin-bottom: 20px;
}
.bl_font02{
  display: flex;
}
.font_preview{
  margin-left: 100px;
  font-family: 'Futura PT';
  font-style: lighter;
}
.yugothic{
  font-family: 'YuGothic';
  font-style: lighter;
}
/* --------ここまで-------- */

/* ----------------------- */
/* works
/* ----------------------- */
.bl_works_ttl{
  margin-top: 60px;
  margin-bottom: 20px;
}
.bl_works_txt{
  margin-bottom: 40px;
}
.works_flex{
  display: flex;
  justify-content: space-between;
}
.bl_works02{
  margin-top: 90px;
}
.bl_works03{
  margin-bottom: 90px;
}
.img03{
  margin-bottom: 40px;
}
.bl_works04{
  text-align: center;
}
.bl_works_imgAll{
  max-width: 510px;
  margin-bottom: 40px;
}
.bl_works05{
  display: flex;
  justify-content: center;
}
.faq{
  max-width: 350px;
}
.company{
  max-width: 350px;
  vertical-align: top;
}
.bl_works06{
  vertical-align: top;
}
.bl_works_img_Responsive01{
  max-width: 110px;
  max-height: 3044px;
}
.bl_works_img_Responsive02{
  max-width: 110px;
  max-height: 916px;
}
.bl_works_img_Responsive03{
  max-width: 110px;
  max-height: 573px;
}
.bl_works_img_Responsive04{
  max-width: 110px;
  max-height: 238px;
}
.el_btn_view{
  margin-top: 60px;
  padding-bottom: 150px;
}
/* --------ここまで-------- */

/* ----------------------- */
/* responsive タブレットサイズ
/* ----------------------- */
@media screen and (max-width:768px){
.bl_works{
  max-width: 85%;
}
/* mv */
.bl_mv_img{
  max-width: 500px;
}
.bl_main_ttl{
  margin-left: 60px;
}
.works-info-list{
  word-break: break-all;
}
/* --------ここまで-------- */

/* design */
.bl_font{
  font-size: 1.6rem;
}
.bl_design_img{
  max-width: 400px;
}
/* --------ここまで-------- */

/* works */
.bl_works05{
  text-align: center;
}
}
/* --------ここまで-------- */

/* ----------------------- */
/* responsive スマホサイズ
/* ----------------------- */
@media screen and (max-width: 480px){
.bl_ttl{
  font-size: 1.6rem;
}
.works-info-list{
  word-break: break-all;
}
.works-info-item{
  font-size: .8rem;
}
.bl_subttl{
  font-size: 1.4rem;
}
.bl_subttl_small{
  font-size: 1.2rem;
}

/* mv */
.bl_mv_inner{
  height: 400px;
}
.bl_mv_img{
  max-width: 280px;
}
.bl_main_ttl{
  padding-top: 330px;
  margin-left: 30px;
}
/* --------ここまで-------- */

/* overview */
.bl_txt{
  font-size: 1.2rem;
}
/* --------ここまで-------- */

/* design */
.bl_design_img{
  margin: 0 auto;
}
.bl_subttl{
  font-size: 1.4rem;
}
.bl_subttl_small{
  font-size: 1.2rem;
}
.bl_font{
  font-size: 1.2rem;
  margin: 0 auto;
}
.font_preview{
  margin: 0;
  margin-left: 60px;
}
/* --------ここまで-------- */

/* works */
.works_flex{
  display: flex;
  flex-wrap: wrap;
}
.bl_works_img_Responsive01{
  margin-bottom: 40px;
}
/* --------ここまで-------- */

/* btn */
.el_btn_view{
  margin-top: 60px;
  padding-bottom: 150px;
  max-width: 190px;
}
}
